.factInfo {
  font-size: 24px;
  color: #fff;
  outline: none;
  margin-bottom: 16px;
  height: 200px;
  border: 1px solid #3b3b3b;
  border-radius: 2px;
  padding: 16px;
  background-color: transparent;
  width: calc(100% - 32px);
  resize: none;
}
