.form {
  display: flex;
  flex-direction: column;
}

.text {
  background-color: transparent;
  outline: none;
  border: 0;

  font-size: 24px;
  color: #fff;
  margin-bottom: 8px;
}

.age {
  font-size: 18px;
  color: #ec4d4d;
  margin-bottom: 16px;
}
